.cooldowns-wrapper {
    position: absolute;
    right: 100px;
    bottom: 50px;
    z-index: 110;
    display: block;
}

.cooldown-label {
    z-index: 200;
    position: relative;
    top: -2px;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.dodge-cooldown-wrapper {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0px 5px;
    /* background-color: rgb(255, 225, 225); */
    border-radius: 50%;
}

.dodge-circle {
    z-index: 110;
    width: 25px;
}

.dodge-circle::part(base) {
    width: 100px;
    height: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.dodge-circle::part(text) {
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    stroke: dodgerblue;
}

.parry-cooldown-wrapper {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0px 5px;
    /* background-color: white; */
    border-radius: 50%;
}

.parry-circle {
    z-index: 110;
    width: 25px;
}

.parry-circle::part(base) {
    width: 100px;
    height: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.parry-circle::part(text) {
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    stroke: dodgerblue;
}

.reload-cooldown-wrapper {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0px 5px;
    /* background-color: rgb(255, 225, 225); */
    border-radius: 50%;
}

.reload-circle {
    z-index: 110;
    width: 25px;
}

.reload-circle::part(base) {
    width: 100px;
    height: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.reload-circle::part(text) {
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    stroke: dodgerblue;
}

#tab-menu {
    background-color: black;
    /* border: 0px; */
}

#tab-menu:focus {
    outline: none;
}

.tab-wrapper {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#tab-menu {
    border: 1px solid;
    --angle: 0deg;
    border-image: linear-gradient(var(--angle), rgb(253, 114, 255),rgb(114, 196, 255)) 1;
    animation: 3s rotate linear infinite;
}
  
@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.button {
    
}

.button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.settings-wrapper {

}

.keybinds-wrapper {

}

.info-wrapper {

}

.exit-wrapper {

}





#settings-menu {
    background-color: black;
    border: 1px solid;
    --angle: 0deg;
    border-image: linear-gradient(var(--angle), rgb(255, 61, 61),rgb(255, 255, 93)) 1;
    animation: 3s rotate linear infinite;
}

#settings-menu:focus {
    outline: none;
}

.login-wrapper {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.online-wrapper {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.settings-wrapper {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.volume-wrapper {
    display: block;
}

.sensitivity-wrapper {

}

.hitboxes-wrapper {

}

.label {
    display: inline-block;
}

.settings-value {
    display: inline-block;
}

.sens-input {
    background-color: black;
    color: white;
    width: 60px;
    border: none;
    margin-left: 5px;
}

.tab-close-button {
    transition-duration: 0.1s;
    margin-bottom: 10px;
}

.tab-close-button:hover {
    cursor: pointer;
    margin-left: 5px;
    font-style: italic;
    text-decoration: underline;
}

.settings-close-button {
    transition-duration: 0.1s;
    margin-bottom: 10px;
}

.settings-close-button:hover {
    cursor: pointer;
    margin-left: 5px;
    font-style: italic;
    text-decoration: underline;
}

.keybinds-close-button {
    transition-duration: 0.1s;
    margin-bottom: 10px;
}

.keybinds-close-button:hover {
    cursor: pointer;
    margin-left: 5px;
    font-style: italic;
    text-decoration: underline;
}



#keybinds-menu {
    background-color: black;
    border: 1px solid;
    --angle: 0deg;
    border-image: linear-gradient(var(--angle), rgb(99, 255, 164),rgb(255, 104, 169)) 1;
    animation: 3s rotate linear infinite;
    width: 150px;
}

#keybinds-menu:focus {
    outline: none;
}

.keybinds-wrapper {
    
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.keybind-label {
    display: inline-block;
    margin: 2px 3px;
}

.keybind-input {
    display: inline-block;
    width: 40px;
    float: right;
    margin-right: 3px;
}








.crosshair-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 10px;
    height: 10px;
    /* filter: invert(1); */
    /* mix-blend-mode: difference; */
    border-radius: 5px;
}


.live-data {
    position: absolute;
    z-index: 200;
    /* width: 200px; */
    top: 0;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    background-color: black;
    border: 1px dashed grey;
    padding: 1px 3px 1px 3px;
    
}

.ld-false {
    color: rgb(255, 53, 38) !important;
}

.live-data>li {
    color: rgb(237, 152, 237);
}

.ld-true {
    color: rgb(19, 255, 39) !important;
}















button:hover {
    cursor: pointer;
}

.dialog {
    background-color: black;
    color: white;
    border: none;
}

.dialog:focus {
    outline: none;
}

.login-input {
    width: 148px;
    background-color: black;
    outline: 1px solid white;
    border: none;
    display: block;
    margin: 8px 0px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.login-input:focus {
    outline: 2px solid white;
}

.login-input-label {
    font-family: 'Courier New', Courier, monospace;
}

.login-button-f {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 73px;
    margin: 3px 0px;
    float: left;
    border: 1px solid white;
    border-radius: 0px;
    /* transition-duration: 0.1s; */
}

.lb {
    margin-right: 3px;
}

.rb {
    margin-left: 3px;
}

#login-dialog {
    border: 1px solid;
    --angle: 0deg;
    border-image: linear-gradient(var(--angle), rgb(114, 255, 243),rgb(166, 255, 114)) 1;
    animation: 3s rotate linear infinite;
}

.login-button-f:hover {
    
    cursor: pointer;
    font-style: italic;
    font-weight: 600;
    /* --angle: 0deg;
    /* font-style: italic; */
    /* border-radius: 3px !important;
    border-image: linear-gradient(var(--angle), rgb(253, 114, 255),rgb(114, 196, 255)) 1;
    animation: 3s rotate linear infinite; */ 
}
  
@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}


.login-errors {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    max-width: 150px;
    color: red;
    font-weight: 700;
    margin-top: 50px;
    height: 50px;
}


#online-dialog {
    border: 1px solid;
    --angle: 0deg;
    border-image: linear-gradient(var(--angle), rgb(255, 72, 72),rgb(255, 104, 190)) 1;
    animation: 3s rotate linear infinite;
}

.online-input {
    width: 91px;
    margin-top: 10px;
    border: 1px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

.online-input:focus {
    outline: none;
}

.online-button-f {
    background-color: black;
    color: white;
    border: 1px solid white;
    display: block;
    margin: 3px 0px;
    border-radius: 0px !important;
    font-family: 'Courier New', Courier, monospace;
    width: 95px;
}

.online-button-f:focus {
    outline: none;
}


.online-label {
    width: 93px;
    min-width: 75px;
    border: 1px solid white;
    display: inline-block;
    background-color: transparent;
    color: white;
    text-align: center;
    /* margin-left: 10px; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
}

.connection-valid {
    background-color: rgb(50, 255, 136) !important;
    color: black;
}

.connection-valid:hover {
    cursor: default;
}

.connection-wrapper {
    /* border: 1px dashed green; */
    margin: 5px 0px;
    font-family: 'Courier New', Courier, monospace;
}

.room-wrapper {
    /* border: 1px dashed orange; */
    margin: 10px 0px;
    /* width: 200px; */
    font-family: 'Courier New', Courier, monospace;
}

.mr-btn {
    display: block;
}

.unclickable {
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.unclickable:hover {
    cursor: default;
}

.no-input {
    background-color: rgba(200, 200, 200, 0.7);
}

.no-input:hover {
    cursor: default;
}

.no-input:focus {
    outline: none;
}

.room-errors {
    width: 95px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: red;
}

.login-close-button {
    font-family: 'Courier New', Courier, monospace;
    transition-duration: 0.1s;
    margin-bottom: 10px;
}

.login-close-button:hover {
    cursor: pointer;
    margin-left: 5px;
    font-style: italic;
    text-decoration: underline;
}

.online-close-button {
    font-family: 'Courier New', Courier, monospace;
    transition-duration: 0.1s;
    margin-bottom: 10px;
}

.online-close-button:hover {
    cursor: pointer;
    margin-left: 5px;
    font-style: italic;
    text-decoration: underline;
}

#hp-label {
    position: absolute;
    z-index: 200;
    bottom: 30px;
    left: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

#winner-banner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: rgb(255, 105, 105);
    text-shadow: 2px 2px rgb(106, 176, 255);
    text-wrap: nowrap;
}

#damage {
    position: fixed;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 50px 20px rgba(255, 69, 69, 0.487) inset;
    background-color: transparent;
    
    z-index: 110;
}

.damage {
    animation: damage 0.3s;
}

@keyframes damage {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100%  {opacity: 0;}
}











.headsup-wrapper {
    position: fixed;
    top: calc(50% - 20px);
    left: calc(50% + 50px);
    z-index: 100;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 30px;
    /* color: red; */
    color: crimson;
    transform: scale(0);
    /* text-shadow:
    0 0 7px rgb(244, 60, 97),
    0 0 10px rgb(244, 60, 97),
    0 0 21px rgb(244, 60, 97),
    0 0 42px rgb(244, 60, 97),
    0 0 82px rgb(244, 60, 97),
    0 0 92px rgb(244, 60, 97),
    0 0 102px rgb(244, 60, 97),
    0 0 151px rgb(244, 60, 97); */
}

.grow {
    animation: grow 0.5s;
}

.shrink {
    animation: shrink 1.5s;
}



@keyframes grow {
    0%   {transform: scale(0)}
    30%  {transform: scale(1)}
    70%  {transform: scale(1)}
    100% {transform: scale(0)}
}

@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}



.perfect {
    color: rgb(80, 156, 255);
    text-shadow: 2px 2px yellow;
}

.parry {
    color: rgb(222, 75, 75);
    text-shadow: 2px 2px orange;
}

.hit {
    color: rgb(255, 126, 255);
    text-shadow: 2px 2px pink;
}